
#app {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	color: white;
	gap: 2rem;
}

#dashboard_heading {
	margin-top: 3rem;
	font-size: 3em;

}

#dashboard_video_feed_container {
	width: 100%;
	height: 50%;
	display: flex;
}


#dashboard_camera_feed_container {
	padding: 2em;
	width:50%;
	height:100%;
	display: flex;
	flex-direction: column;
}

#dashboard_chat_box {
	flex: 1;
}

#dashboard_camera_feed {
	width: 100%;
	height: 90%;
	border: 1px solid green;
}

#dashboard_camera_controls {
	flex: 1;
	justify-content: center;
	align-items: center;
	gap: 12px;
	display: flex;
}


#dashboard_camera_control_btn {
	width:20%;
	height: 50%;
	background-color: black;
	border: 3px: solid white;
	padding: 0.3em;
	color: white;
}
#dashboard_camera_control_btn:hover {
	background-color: gray;
	color: black;
	cursor: pointer;
}
